@model IEnumerable<OwnerInventory>

@{
    ViewBag.Title = "Home " ;
}
<div>
<h2 class="heading">Welcome to Houdini's Bag of Tricks Magic shop</h2>
<div class="container" style="padding-top:50px">
    <div class="col-md-4">
        @* making sure the home/index change when role change *@
        <img src="https://png.icons8.com/color/180/witch.png" style="width:20%" />
        @if (User.IsInRole("Owner"))
        {
        <button onclick="location.href='Owner/Index'" type="button" class="btn-primary btn-lg btn">Owner</button>
        }
        else
        {
         <button onclick = "location.href='Account/Login'" type ="button" class="btn-primary btn-lg btn">Owner</button>
        }
    </div>
    <div class="col-md-4">
        <img src="https://png.icons8.com/color/260/black-hat.png" style="width:20%" />
        @if (User.IsInRole("Franchise"))
        {
        <button onclick="location.href='Franchise/Index'" type="button" class="btn-success btn-lg btn">Franchise</button>
        }
        else
        {
        <button onclick = "location.href='Account/Login'" type = "button" class="btn-success btn-lg btn">Franchise</button>
        }
    </div>
    <div class="col-md-4">
        <img src="https://png.icons8.com/color/100/lamp-of-alladin.png" style="width:20%" />
        <button onclick="location.href='Customer/Index'" type="button" class="btn-warning btn-lg btn">Customer</button>
    </div>  
</div>

</div>