@model IEnumerable<Houdini.Models.StoreInventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Stores</h2>

<h3>
   Select a store
</h3>

    @*References https://icons8.com/icon/set/city*@

    <div class="box">
        <div><img src="https://png.icons8.com/color/100/skyscrapers.png" style="width:100px;margin-left:50px" /></div>
        <div><a asp-action="StoreProducts" asp-route-id="1" class="btn-primary btn">Melbourne CBD</a></div>
        <div><img src="https://png.icons8.com/color/260/city-church.png" style="width:100px;margin-left:50px"/></div>
        <div><a asp-action="StoreProducts" asp-route-id="2" class="btn-danger btn">North Melbourne</a></div>
        <div> <img src="https://png.icons8.com/color/160/city-railway-station.png" style="width:100px;margin-left:50px" /></div>
        <div><a asp-action="StoreProducts" asp-route-id="3" class="btn-primary btn">East Melbourne</a></div>
        <div><img src="https://png.icons8.com/color/160/factory.png" style="width:100px;margin-left:50px"/></div>
        <div><a asp-action="StoreProducts" asp-route-id="4" class="btn-danger btn">South Melbourne</a></div>
        <div><img src="https://png.icons8.com/color/160/garbage-truck.png" style="width:100px;margin-left:50px"/></div>
        <div><a asp-action="StoreProducts" asp-route-id="5" class="btn-primary btn">West Melbourne</a></div>
    </div>


   

        


  
